/check_by_image.py
/check_pose.png
/clip_1.py
/downloaded_video.mp4
/edit_sample.py
/output_clip.mp4
/pose_estimation.py
/pose_estimation_check.py
/pose_estimation_mp.py
/pose_to_csv_1.py
/sample.py
/sample1.py
/sample2.py
/squat_female.mp4
/squat_female_front.mp4
/squat_female_front_data.csv
/squat_female_side.mp4
/squat_female_side_data.csv
/squat_male.mp4
/youtube_clip.py
/솔개
/프로젝트.txt